{% load static %}

<footer class="final"> <!--comienzo de pie de pagina--> 
    <div class="pie-1">
        <div class="box">
                <a class="forma" href="#"> <!--clase algo del footer clase froma -->
                    <img src="{% static 'img/logo2.png' %}">
                </a>
        </div>
        <div class="box">
            <p class="pie-2"> veterinary clinic,AniCura &copy; 2022</p>   
        </div>
        <div class="box">
            <h2>SÍGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/AniCuraEs/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/anicura_es/" class="fa fa-instagram"></a>
                <a href="https://www.youtube.com/channel/UCk7D-q-02PHcMNZ12VPICng" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
</footer>