{% load static %}
<header class="contenedor">
    <div class="marca">
        <img src="{% static 'img/logo.png' %}" width="300">
    </div>
    <nav>
        <ul>
            <li class="actual"><a href="{% url 'home'%}">Inicio </a></li>
            <li class="actual"><a href="{% url 'contactenos'%}">Contactenos </a></li>
            <li class="actual"><a href="{% url 'nosotros'%}">Quienes Somos </a></li>
            <li class="actual"><a href="{% url 'producto' %}">Productos </a></li>

            <li class="actual">
                <a href="{% url 'ver_carrito' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="6" cy="19" r="2" />
                        <circle cx="17" cy="19" r="2" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                      </svg>
                </a></li>

            {% if user.id is None %}
            <li class="actual"><a href="{% url 'registro'%}">Registrarse </a></li>
            <li class="actual"><a href="{% url 'login'%}">Ingresar</a></li>
            {% else %}

            {% endif %}
            {% if user.id is None %}
            {% else %}
            <li class="actual"><a href="{% url 'logout' %}">Salir</a></li>
            {% endif %}

        </ul>
    </nav>
    <div class="actual">
        {% if user.id is None %}
        <h1 class="resultado">Visitante</h1>
        {% else %}
        <h1 class="resultado"> {{ user.username }}</h1>
        {% endif %}
    </div>

</header>