{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Somos AniCura</title>
    <meta charset="uf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="https://www.anicura.es/static/favicons/default/favicon.ico">
    <meta name="description" content="veterinaria 24 horas">
    <meta name="keywords" content="veterinaria virtual,Veterinaria 24 horas,veterinary clinic">
    <meta name="author" content="Yeniffer Espinosa">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/925d9497d7.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--menu de navegacion-->
    {% include 'includes/nav.html' %}

    <!--bloque principal-->
    {% block content %}

    {% endblock %}
    
    <!--footer-->
    {% include 'includes/footer.html' %}
</body>

</html>