{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="boletin">
    <div class="contenedor">
        <h1>Sobre Nosotros</h1>
    </div>
</section>
<section id="principal">
    <div class="contenedor">
        <article id="col-principal">
            <h1>Reseña historica</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam distinctio nulla mollitia consequuntur sint repudiandae magni qui eligendi accusantium laborum nam consequatur eum atque dolores beatae, saepe, rerum, ut ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis pariatur ut delectus beatae doloribus, soluta laborum nesciunt a ex in! Maiores ratione fugit mollitia asperiores quia, quae itaque iusto exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nostrum earum vero quasi, harum explicabo laboriosam? Non, accusantium est sapiente ullam cum provident aperiam optio, distinctio error assumenda pariatur quas?
            </p>
            <img src="img/cabecera.jpg" width="600" height="300">
        </article>
        <aside id="lateral">
            <div class="oscuro">
                <h1>Misión</h1>
                <p>
                    Años De Experiencia <br>Garantizar que nuestra tienda ofrezca ropa de marca, que sean elegantes para nuestros clientes
                </p>
            </div>
        </aside>
        <aside id="lateral1">
            <div class="oscuro">
                <h1>Visión</h1>
                <p>
                    La tienda sea reconocida a nivel nacional o internacional con nuestros mejores productos de marca y elegancia para nuestros clientes.
                </p>
            </div>
        </aside>
    </div>
</section>

{% endblock %}